In [1]:
from google.colab import drive
drive.mount('/content/drive')

abspath_curr = '/content/drive/My Drive/Colab Notebooks/MLII/'
abspath_data_quac = '/content/drive/My Drive/Colab Notebooks/MLII/data_quac/'
abspath_data_qnli = '/content/drive/My Drive/Colab Notebooks/MLII/data_qnli/QNLIv2/'
abspath_data_qna = '/content/drive/My Drive/Colab Notebooks/MLII/data_qna/'
abspath_data_gnq = '/content/drive/My Drive/Colab Notebooks/MLII/data_gnq/'
abspath_model = '/content/drive/My Drive/Colab Notebooks/MLII/models/'
abspath_plots = '/content/drive/My Drive/Colab Notebooks/MLII/plots/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# QNA download
# %cd '/content/drive/My Drive/Colab Notebooks/MLII/data_qna/'
# !wget 'https://msmarco.blob.core.windows.net/msmarco/train_v2.1.json.gz'
# !wget 'https://msmarco.blob.core.windows.net/msmarco/dev_v2.1.json.gz'
# !wget 'https://msmarco.blob.core.windows.net/msmarco/eval_v2.1_public.json.gz'
# !gzip -d train_v2.1.json.gz
# !gzip -d dev_v2.1.json.gz
# !gzip -d eval_v2.1_public.json.gz

In [12]:
import pandas as pd
import json
from tqdm import tqdm
import numpy as np
import pprint

In [3]:
eval_qna = json.load(open(abspath_data_qna+'eval_v2.1_public.json'))
train_qna = json.load(open(abspath_data_qna+'train_v2.1.json'))
dev_qna = json.load(open(abspath_data_qna+'dev_v2.1.json.1.json'))

In [28]:
len(train_qna['query_id'])

808731

In [ ]:
print(train_qna.keys())
print('number of queries in ds:', len(list(train_qna['query'].keys())))
bool(train_qna['answers'].keys() == train_qna['query'].keys() == train_qna['wellFormedAnswers'].keys() == 
     train_qna['query_id'].keys() == train_qna['query_type'].keys() == train_qna['passages'].keys())

dict_keys(['answers', 'passages', 'query', 'query_id', 'query_type', 'wellFormedAnswers'])
number of queries in ds: 808731

True

In [ ]:
train_qna['answers']['100852']

['1–3 months']

In [ ]:
train_qna['query_type']['100852']

'NUMERIC'

In [ ]:
train_qna['query_id']['100852']

266138

In [ ]:
train_qna['wellFormedAnswers']['100852']

['The rabies incubation period is 1 to 3 months.']

In [ ]:
train_qna['query']['3']

'definition of ramen'

In [ ]:
print('key "answers":')
print('content example 100852- ',train_qna['answers']['100852'])
list_types_answers=[]
for k,v in train_qna['answers'].items():
  list_types_answers.append(type(v))
print(set(list_types_answers))
list_length_answers = []
for k,v in train_qna['answers'].items():
  list_length_answers.append(len(v))
print('max length- ', max(list_length_answers))

key "answers":
content example 100852-  ['1–3 months']
{<class 'list'>}
max length-  6

In [ ]:
print('key "wellFormedAnswers":')
print('content- ',train_qna['wellFormedAnswers']['100852'])
list_types_wellFormedAnswers=[]
for k,v in train_qna['wellFormedAnswers'].items():
  list_types_wellFormedAnswers.append(type(v))
print(set(list_types_wellFormedAnswers))
list_length_wellFormedAnswers = []
for k,v in train_qna['wellFormedAnswers'].items():
  if type(v) == type([]):
    list_length_wellFormedAnswers.append(len(v))
print('max length- ', max(list_length_wellFormedAnswers))
print('number of lists as values:', len(list_length_wellFormedAnswers))

key "wellFormedAnswers":
content-  ['The rabies incubation period is 1 to 3 months.']
{<class 'list'>, <class 'str'>}
max length-  53
number of lists as values: 153725

In [ ]:
print('key "query_type":')
print('content- ',train_qna['query_type']['100852'])
list_types_query_type=[]
for k,v in train_qna['query_type'].items():
  list_types_query_type.append(type(v))
print(set(list_types_query_type))
list_length_query_type = []
for k,v in train_qna['query_type'].items():
  if type(v) == type([]):
    list_length_query_type.append(len(v))
print('number of lists as values:', len(list_length_query_type))

key "query_type":
content-  NUMERIC
{<class 'str'>}
number of lists as values: 0

In [ ]:
print('key "query_id":')
print('content- ',train_qna['query_id']['100852'])
list_types_query_id=[]
for k,v in train_qna['query_id'].items():
  list_types_query_id.append(type(v))
print(set(list_types_query_id))
list_length_query_id = []
for k,v in train_qna['query_id'].items():
  if type(v) == type([]):
    list_length_query_id.append(len(v))
print('number of lists as values:', len(list_length_query_id))

key "query_id":
content-  266138
{<class 'int'>}
number of lists as values: 0

In [ ]:
print('key "query":')
print('content- ',train_qna['query']['100852'])
list_types_query=[]
for k,v in train_qna['query'].items():
  list_types_query.append(type(v))
print(set(list_types_query))
list_length_query = []
for k,v in train_qna['query'].items():
  if type(v) == type([]):
    list_length_query.append(len(v))
print('number of lists as values:', len(list_length_query))

key "query":
content-  how long rabies incubation period
{<class 'str'>}
number of lists as values: 0

In [ ]:
for passage in train_qna['passages']['100852']:
  print(passage['is_selected'])
  print(passage['passage_text'])
  print(passage['url'])
  print('\n')

0
The rabies incubation period may vary from a few days to several years, but is typically one to three months.During this time, the rabies virus is multiplying within the body. At some point, the rabies virus will travel along nerve cells to the brain.ventually, the virus cause rabies symptoms to develop. The period from the time from infection to the onset of symptoms is known as the rabies incubation period.
http://rabies.emedtv.com/rabies/rabies-incubation-period.html


0
1 The incubation period -- the period of time between exposure to a disease and the onset of clinical signs -- for rabies can vary greatly.2  The typical incubation period is three to eight weeks, but it can be as little as nine days or as long as several years in some rare cases. The incubation period -- the period of time between exposure to a disease and the onset of clinical signs -- for rabies can vary greatly.
http://www.americanhumane.org/animals/adoption-pet-care/safety/rabies-facts-prevention.html


0
In people, the incubation period (the time between initial contact with the virus and onset of the disease) generally ranges from two to eight weeks. In rare cases, it can vary from 10 days to 2 years.The incubation period is shorter in children and in people exposed to a large dose of the rabies virus.The dose of virus depends on the size, severity and location of an animal bite or scratch. In animals, the incubation period depends on the species of animal.n people, the incubation period (the time between initial contact with the virus and onset of the disease) generally ranges from two to eight weeks. In rare cases, it can vary from 10 days to 2 years.
http://www.ccohs.ca/oshanswers/diseases/rabies.html


0
It multiplies in the brain very quickly, causing the end of the rabies incubation period, and the beginning of rabies symptoms. Usually within three to five days, the rabies virus has caused enough damage to the brain that the animal will begin to show unmistakable signs of rabies.ventually, the virus cause rabies symptoms to develop. The period from the time from infection to the onset of symptoms is known as the rabies incubation period.
http://rabies.emedtv.com/rabies/rabies-incubation-period.html


0
The initial symptoms of rabies are mild, but they quickly become serious. The incubation period is the time it takes for symptoms to develop after a person is infected with the virus.The incubation period for rabies is usually two to 12 weeks, although it can be as short as four days. It is unusual for the incubation period to last for more than a year.he incubation period for rabies is usually two to 12 weeks, although it can be as short as four days. It is unusual for the incubation period to last for more than a year.
http://www.nhs.uk/Conditions/Rabies/Pages/Symptoms.aspx


0
Symptoms of Rabies in Humans It takes some time (the incubation period) before a person exposed to rabies develops symptoms. The incubation period for rabies can vary. It can be anywhere from a week to over a year. An incubation period as long as 19 years has been reported.However, it usually lasts about one to two months.he incubation period for rabies can vary. It can be anywhere from a week to over a year. An incubation period as long as 19 years has been reported. However, it usually lasts about one to two months.
http://www.cdph.ca.gov/programs/hesis/Documents/rabies.pdf


1
Symptoms. The incubation period for rabies is typically 1–3 months, but may vary from 1 year. The initial symptoms of rabies are fever and often pain or an unusual or unexplained tingling, pricking or burning sensation (paraesthesia) at the wound site.he incubation period for rabies is typically 1–3 months, but may vary from 1 year. The initial symptoms of rabies are fever and often pain or an unusual or unexplained tingling, pricking or burning sensation (paraesthesia) at the wound site.
http://www.who.int/mediacentre/factsheets/fs099/en/


0
The animal does not appear ill during this time. The time between the bite and the appearance of symptoms is called the incubation period and it may last for weeks to months. A bite by the animal during the incubation period does not carry a risk of rabies because the virus has not yet made it to the saliva.he animal does not appear ill during this time. The time between the bite and the appearance of symptoms is called the incubation period and it may last for weeks to months. A bite by the animal during the incubation period does not carry a risk of rabies because the virus has not yet made it to the saliva.
http://www.cdc.gov/rabies/transmission/body.html


0
This is called the incubation period of virus. Usually people develop rabies within six months of exposure (e.g. from a bite from an infected animal like a dog or a bat). However, longer incubation periods can occur.his is called the incubation period of virus. Usually people develop rabies within six months of exposure (e.g. from a bite from an infected animal like a dog or a bat). However, longer incubation periods can occur.
http://www.wormsandgermsblog.com/2008/12/articles/diseases/rabies/human-rabies-with-long-incubation-time/


0
Records are meant to be broken, and rabies incubation period is no exception. I’m often asked what the incubation period of rabies is in people. My general answer is  a long time, and we don’t really know how long it can be..A report in the Annals of Neurology (Boland et al 2014) highlights this fact.ecords are meant to be broken, and rabies incubation period is no exception. I’m often asked what the incubation period of rabies is in people. My general answer is  a long time, and we don’t really know how long it can be..
http://www.wormsandgermsblog.com/2015/01/articles/animals/dogs/human-rabies-incubation-record/

In [ ]:
df_dict = {'query_id':[],'query':[], 'sentence':[], 'label':[]}
for k,v in tqdm(train_qna['query'].items()):
  num_passages = len(train_qna['passages'][k])
  query_id = [train_qna['query_id'][k]]*num_passages
  query = [train_qna['query'][k]]*num_passages
  sentences = []
  labels = []
  for passage in train_qna['passages'][k]:
    labels.append(passage['is_selected'])
    sentences.append(passage['passage_text'])

  df_dict['query_id'].extend(query_id)
  df_dict['query'].extend(query)
  df_dict['sentence'].extend(sentences)
  df_dict['label'].extend(labels)

100%|██████████| 808731/808731 [00:06<00:00, 123370.27it/s]

In [ ]:
df = pd.DataFrame(df_dict)

In [ ]:
df.head()

   query_id  ... label
0   1185869  ...     1
1   1185869  ...     0
2   1185869  ...     0
3   1185869  ...     0
4   1185869  ...     0

[5 rows x 4 columns]

In [ ]:
df['label'].value_counts()

0    7536988
1     532761
Name: label, dtype: int64

8069749

In [5]:
df.to_csv(abspath_data_qna+'df_qna.csv')

In [6]:
df_qna=pd.read_csv(abspath_data_qna+'df_qna.csv')
df_qna

         Unnamed: 0  ...  label
0                 0  ...      1
1                 1  ...      0
2                 2  ...      0
3                 3  ...      0
4                 4  ...      0
...             ...  ...    ...
8069744     8069744  ...      0
8069745     8069745  ...      0
8069746     8069746  ...      0
8069747     8069747  ...      0
8069748     8069748  ...      0

[8069749 rows x 5 columns]

In [8]:
random_state = 81
df_qna_1 = df_qna[df_qna['label']==1]
df_qna_0_sample = df_qna[df_qna['label']==0].groupby('query_id').sample(n=1, random_state=random_state)
df_qna_sample = pd.concat([df_qna_1, df_qna_0_sample], axis=0)
df_qna_sample = df_qna_sample.sample(frac=1, random_state=random_state)

In [ ]:
print(df_qna_1.shape, df_qna_0_sample.shape, df_qna_sample.shape)
print(df_qna_sample['label'].value_counts())

In [ ]:
df_qna_60k = df_qna_sample.sample(n=60000, random_state=random_state)
df_qna_60k.drop('Unnamed: 0', axis=1, inplace=True)
print(df_qna_60k.shape)
print(df_qna_60k.columns)
print(df_qna_60k['label'].value_counts())
df_qna_60k.to_csv(abspath_data_qna+'df_qna_60k.csv')

In [ ]:
df_qna_60k = pd.read_csv(abspath_data_qna+'df_qna_60k.csv')